[submodule "password-store/.config/password-store"]
	path = password-store/.config/password-store
	url = git@github.com:Benjman/password-store
[submodule "pass/.config/pass"]
	path = pass/.config/pass
	url = git@github.com:Benjman/password-store
