*.o
*.orig
config.h

arg.h
config.def.h
config.h
config.mk
dmenu
dmenu.1
dmenu.c
dmenu.o
dmenu_path
dmenu_run
drw.c
drw.c.orig
drw.h
drw.o
LICENSE
Makefile
patches
README
stest
stest.1
stest.c
stest.o
util.c
util.h
util.o
