#!/bin/env /bin/bash

# Status Bar
# dwmblocks &

# Random Photo Every Login
# feh --bg-fill --randomize ~/Pictures/wallpapers/* &

# Monitor Config
# xrandr --auto --output DVI-D-0 --mode 2560x1440 --left-of HDMI-0
# xrandr --output DP-1 --mode 2560x1440 --rate 59.95
# xrandr --auto --output HDMI-1 --mode 2560x1440 --left-of DP-1

source /etc/profile.d/vte.sh

# Network Manager Applet
# nm-applet --indicator &

# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
xset r rate 210 40

# Environment variables set everywhere
export XDG_CACHE_HOME=$HOME/.cache
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share

source $XDG_CONFIG_HOME/user-dirs.dirs
xrdb $XDG_CONFIG_HOME/x/Xresources

export BROWSER=/bin/brave
export EDITOR=/bin/nvim
export PAGER=/bin/less
export VISUAL=$EDITOR

[[ "${XDG_SESSION_TYPE:u}" == "X11" ]] && setxkbmap -option caps:escape
[[ "${XDG_SESSION_TYPE:u}" == "WAYLAND" ]] && gsettings set org.gnome.desktop.input-sources xkb-options "['caps:escape']"

# For QT Themes
# export QT_QPA_PLATFORMTHEME=qt5ct

# Compositor
# picom -b

# Hide mouse when typing
# xbanish &

# Screenshots
# flameshot &

# Bluetooth systray icon
# blueman-applet &

# helps with puls audio
# pasystray &

# Easy file sharing
# pcloudcc -u chris.machine@pm.me -m ~/Cloud -d

# Screenkey applet (this will break everything)
# screenkey --start-disabled
